<ion-header>
  <ion-toolbar>
    <ion-title>
      Home Tab
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/shapes.svg"></ion-img>
      <ion-card-header>
        <ion-card-title>Welcome to the About me Page</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>This where you get to know me as an lil.</p>
      </ion-card-content>
      <ion-card-content>
      </ion-card-content>
    </ion-card>
</ion-content>
<ion-content>
  <h1>My Hobbies:</h1>
  <p>Hi my name is Elmer and I like to play soccer and football.</p>
  <p>My interests are to become a Engineer or an entrepreneur.</p>
</ion-content>